.custom-link{
    padding: 5px !important;
    text-decoration: none !important;
    color: #32383e !important;
    padding: 5px 12px !important;
    border-radius: 5px !important;
    font-weight: 600 !important;
}

.custom-link:hover{
    background-color: rgba(209, 213, 217, 0.4) !important;
}

.active .custom-link:hover, .active {
    background-color: rgba(209, 213, 217, 0.4) !important;
}